html,body{
    height: 100%;
    width: 100%;
    background-color: #E5EDF0;
}
.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.top-nav{
    width: 100%;
    height: auto;
    background-color: #acd9ec;
}
.top-nav .logo img{
    margin-top: 0.2em;
    margin-left: 5em;
    float: left;
}
.top-nav .logo h2{
    float: left;
    margin-left: 0.5em;
    margin-top: 1em;
}
.left-nav{
    height: 85%;
    width: 15%;
    background-color: #c2d5de;
    float: left;
}
ul li{
    list-style-type: none;
}
ul li div{
    width: 100%;
    height: 5em;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}
ul .move{
    background-color: #acd9ec;
}
ul .selected{
    background-color: #90a5af;
}
.datas{
    float: left;
    width: 85%;
    height: 85%;
}
.datas .message{
    margin-left: 40%;
    margin-top: 20%;
}
.datas .tableData{
    display: none;
}
.datas .tableData .selectForm{
    margin-top: 2em;
    margin-left: 10em;
}
.datas .tableData .laboratory{
    display: none;
}
.datas .tableData .student{
    display: none;
}
.datas .tableData .reservation{
    display: none;
}
.datas .tableData .admin-laboratory{
    display: none;
}
.datas .tableData table{
    width: 85%;
    height: auto;
    margin: 1em auto;
}
.modal{
    height: 40em;
}
.modal-body{
    margin-left: 2em;
}
.modal-body .date{
    margin-left: 1em;
    width: 35em;
}
.modal-body input{
    width: 35em;
}
.modal-body textarea{
    width: 35em;
}